<h1>Les pipes</h1>

<section>
    <h2>Texte</h2>

    <ul>
        <li>{{message | uppercase}}</li>
        <li>{{message2 | lowercase }}</li>
    </ul>
</section>

<section>
    <h2>Les dates</h2>
    <ul>
        <li>{{today}}</li>
        <li>{{today | date : "short"}}</li>
        <li>{{today | date : "long"}}</li>
        <li>{{today | date : "medium"}}</li>
        <li>{{today | date : "d/M/y"}}</li>
    </ul>
</section>

<section>
    <h2>Nombres</h2>
    <ul>
        <li>{{pi}}</li>
        <li>{{pi | number : "1.0-2"}}</li>
        <li>{{pi | number : "3.3-3"}}</li>
    </ul>
</section>

<section>
    <h2>Pipe personnalisée</h2>

    <h3>Majuscule</h3>

    @for (t of tableau | uppertable; track t; let i = $index){
        <p>{{ t }}</p>
    }

    <h3>Trier</h3>

    <button (click)="sortTable('asc')">Trier par ordre croissant</button>
    <button (click)="sortTable('desc')">Trier par ordre décroissant</button>

    @for (t of tableau | ordertable: order; track t; let i = $index){
        <p>{{ t }}</p>
    }

</section>